<div>
  <form
    class="bg-purple shadow-md rounded px-8 pt-6 pb-8 mb-4"
    action="/tasks/add"
    method="POST"
  >
    <div class="grid grid-cols-3 gap-4">
      <div class="col-start-2 col-span-2">
        <label for="title">Write a title</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="tercera"
          type="number"
          placeholder="Title"
          name="terceraB"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="segunda"
          type="number"
          placeholder="Title"
          name="segundaB"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="primera"
          type="number"
          placeholder="Title"
          name="primeraB"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="extra"
          type="number"
          placeholder="Title"
          name="extraB"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="super"
          type="number"
          placeholder="Title"
          name="superB"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="jumbo"
          type="number"
          placeholder="Title"
          name="jumboB"
        />
      </div>

      <div class="col-start-4 col-span-2">
        <label for="title">Write a title</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="tercera"
          type="number"
          placeholder="Title"
          name="terceraC"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="segunda"
          type="number"
          placeholder="Title"
          name="segundaC"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="primera"
          type="number"
          placeholder="Title"
          name="primeraC"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="extra"
          type="number"
          placeholder="Title"
          name="extraC"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="super"
          type="number"
          placeholder="Title"
          name="superC"
        />
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="jumbo"
          type="number"
          placeholder="Title"
          name="jumboC"
        />
      </div>

    </div>
    
    <button
      class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
    >add</button>
  </form>
</div>