<div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
  <p class="font-bold">Usuario no registrado
  </p>
  <p class="text-sm">Debe iniciar sesion</p>
</div>

<div class="flex justify-center mt-5">
    <div class="text-center">
        <a href="login" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
        Ingresar
        </a>
    </div>
</div>