<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--tailwind CDN-->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  
  <!-- Css -->
  <base href="/">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  
  <!--material icons google-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Chartjs CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <title>TICS</title>

</head>
<body>
  
  {{>navbar}}
  
    
  {{{body}}}

</body>

</html>